.form {
    display: flex;
    border-top: 2px solid #3a3737;
  }
  
  .input {
    border: none;
    border-radius: 5px;
    padding: 3%;
    width: 80%;
    font-size: 1.2em;
    background: #ccc;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #488a3b;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 20%;
  }
