.textContainer {
	display: flex;
	flex-direction: column;
	margin-left: 100px;
	border: 1px solid #ccc;
	color: #444;
	height: 60%;
	justify-content: space-between;
	background-color: #ffffff;
	background-attachment: fixed;
}

.activeContainer {
	display: flex;
	align-items: center;
	margin-bottom: 50%;
}

.activeItem {
	text-transform: capitalize;
	display: flex;
	align-items: center;
}

.activeContainer img {
	padding-left: 10px;
}

.textContainer h1 {
	margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
	.textContainer {
		display: none;
	}
}
